<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1525">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Feel Free to Write Us Anytime</span>
            <h2 class="cs-title">Let us know any questions or request a quote”</h2>
        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-1525" name="Contact Form" method="post">
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-1525" name="name" placeholder="Name">
            </label>
            <label class="cs-label">
                Phone
                <input class="cs-input" required type="text" id="phone-1525" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Email
                <input class="cs-input" required type="text" id="email-1525" name="email" placeholder="Email">
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
        </form>
    </div>
   
</section>
                                
                                