<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Take a look of what we pride ourselves in</h2>
            <p class="cs-text">
               We love what we do and we do it with passion. We care about the value of your property and what it means to you.
            </p>
            <a href="/projects" class="cs-button-solid">Gallery</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/CTA2.png">
        <source media="(min-width: 601px)" srcset="/assets/images/CTA2.png">
        <img loading="lazy" decoding="async" src="/assets/images/CTA2.png" alt="cleaner" width="1920" height="660" aria-hidden="true">
    </picture>
</section>
                                