---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
   <!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1636">
    <div class="cs-container">
        <div class="cs-content">
            
            <div class="cs-flex">
                <h2 class="cs-title">
                   DEDICATED TO TIMELESS VALUE & SERVICE
                </h2>
                <p class="cs-text">
                    <i> Serving Floridans with quality gutters since 2009 </i>
                </p>
            </div>
        </div>  
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/Pic3.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/Pic3.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/Pic3.jpg" alt="meeting" width="1280" height="620">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1141">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">WHO WE ARE</span>
                <h2 class="cs-title">Know Your Gutter Experts</h2>
                <p>  For over 14 years, No Leak Gutters has been the go-to choice for homeowners and businesses in Sarasota and Charlotte counties seeking top-notch gutter solutions. Our extensive experience in the industry has equipped us with the expertise to handle a wide range of projects, from residential gutter installations to commercial gutter repairs and maintenance.
             <br> <br> At No Leak Gutters, we prioritize quality and reliability above all else. That's why we exclusively use the most trusted and durable products available on the market. Our professionals undergo rigorous training to ensure they deliver exceptional craftsmanship and service on every job. 
             <br> <br> Customer satisfaction is at the heart of everything we do. Our team has earned a reputation for excellence and unwavering dedication to providing superior service. When you choose No Leak Gutters, you can trust that you're investing in a beautiful and long-lasting solution that will safeguard your property for years to come.
             <br> <br> Whether you're looking to enhance the curb appeal of your home or protect your business premises from water damage, No Leak Gutters has you covered. Contact us today for a free consultation and discover why we're the leading choice for all your gutter needs. </p>
            </div>
           
        </div>
        <ul class="cs-card-group">
          
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/about2.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/about2.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/about2.jpg" alt="person" width="305" height="407">
                </picture>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1644">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Values</span>
            <h2 class="cs-title">Here's What We Value</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/checkmark-circle-gold.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">GO THE EXTRA MILE</h2>
                    <p class="cs-item-text">
                        Go above and beyond what the customer expects, and always champion them.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dashboard-gold.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">REACH FOR EXCELLENCE</h2>
                    <p class="cs-item-text">
                       Persevere and push forward through any obstacle that stands in your way.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Lifebuoy-gold.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">SERVE OTHERS</h2>
                    <p class="cs-item-text">
                        Appreciate each opportunity that comes along to selflessly serve and help others.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Like-gold.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">LEAD BY EXAMPLE</h2>
                    <p class="cs-item-text">
                        Character is everything in business, so lead by actions and set an example for others.
                    </p>
                </div>
            </li>
        </ul>
    </div>                            
</section>
                                
                                
                                
    {% include 'components/cta.html' %}

{% endblock %}