---
title: 'Projects'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'projects/'
eleventyNavigation:
    key: Projects
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Projects</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/Header.png">
            <source media="(min-width: 601px)" srcset="/assets/images/Header.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/Header.png" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-45">
    <div class="cs-container">
        <ul class="cs-image-group">
            <!-- Image 1 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Pic13.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/Pic13.png">
                    <img loading="lazy" decoding="async" src="/assets/images/Pic13.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 2 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Pic12.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/Pic12.png">
                    <img loading="lazy" decoding="async" src="/assets/images/Pic12.png" alt="modern house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 3 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Pic3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Pic3.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Pic3.jpg" alt="modern home at night" width="346" height="346">
                </picture>
            </li>
            <!-- Image 4 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Pic14.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/Pic14.png">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Pic14.png" alt="modern home" width="346" height="346">
                </picture>
            </li>
            <!-- Image 5 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Pic5.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Pic5.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Pic5.jpg" alt="appliance" width="346" height="346">
                </picture>
            </li>
            <!-- Image 6 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Pic6.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Pic6.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Pic6.jpg" alt="modern home" width="346" height="346">
                </picture>
            </li>
            <!-- Image 7 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Pic7.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Pic7.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Pic7.jpg" alt="modern home" width="346" height="346">
                </picture>
            </li>
            <!-- Image 8 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Pic8.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Pic8.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Pic8.jpg" alt="modern home" width="346" height="346">
                </picture>
            </li>
            <!-- Image 9 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Pic9.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Pic9.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Pic9.jpg" alt="modern home" width="346" height="346">
                </picture>
            </li>
            <!-- Image 10 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Pic10.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Pic10.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Pic10.jpg" alt="modern home" width="346" height="346">
                </picture>
            </li>
            <!-- Image 11 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Pic11.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Pic11.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Pic11.jpg" alt="modern home" width="346" height="346">
                </picture>
            </li>
          
        </ul>
        <a href="/contact" class="cs-button-solid">Contact Us</a>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}