---
title: 'Reviews'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

   <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">Reviews</span>
        <div class="cs-breadcrumbs">
            <a href="" class="cs-link">Home</a>
            <a href="" class="cs-link">Reviews</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/Header.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/Header.png">
        <img decoding="async" src="/assets/images/Header.png" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
               
                <p>
The crew from No Leak Gutters did an excellent job on my gutter repair project. They were courteous, hardworking, and completed the job in a timely manner. Thank you. 
                </p>
                <div class="star-group">
                    <span class="name">Jessica L<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <p>
                    Nick and his team did a great job on my gutter guard installation. Happy with the outcome and the working with my schedule 
                </p>
                <div class="star-group">
                    <span class="name">Tyler R<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
       
                <p>
                    I had the pleasure of working with Nick and his team for a gutter installation project. From start to finish, they were attentive to my needs and delivered exceptional results. If I had more houses I would make sure to hire them. 
                </p>
                <div class="star-group">
                    <span class="name">Andrew G<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">

                <p>
                    Had a good experience with Nick and his crew for my gutter installation. They were friendly and got the job done without any issues 
                </p>
                <div class="star-group">
                    <span class="name">Samatha H<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
     
       
         
    </section>
                                

  
  
                                

    {% include 'components/cta.html' %}

{% endblock %}