---
title: 'Warranty'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'Warranty/'
eleventyNavigation:
    key: Warranty
    order: 200
---

{% extends "layouts/base2.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/warranty.css">
{% endblock %}

{% block body %}

   <!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<section id="content-page-713">
    <div class="cs-container">
        <div class="cs-content">


            <h1 class="cs-title">5-year workmanship warranty, 10 year corner warranty, 20 year material warranty
            </h1>
            <p>
At No Leak Gutters Inc, we are dedicated to providing you with top-quality gutter solutions that stand the test of time. With years of experience and a commitment to excellence, we are proud to offer comprehensive warranties to ensure your peace of mind. </p>

 <h3>5-Year Workmanship Warranty</h3>

                 <ul>
                <li>Covers defects directly caused by our installation process, such as scratches, tears, and dents or improper installation.</li>
                <li>Excludes damages from external factors, neglect, and modifications by third parties.</li>
            </ul>
            <h3>10-Year Leaking Corners Warranty</h3>

                 <ul>
                <li>Ensures quality installations with #900 SOLAR SEAL adhesive with 20+ year expectancy.</li>
                <li>Excludes changes to home impacting gutters such as roof replacement, and failure to maintain gutter cleanliness.</li>
            </ul>
              <h3>20-Year Material Warranty</h3>

                 <ul>
                <li>Offered by and backed by our material suppliers</li>
                <li>Guarantees longevity and performance of high-grade materials.</li>
                <li>Covers resistance to rust, splitting, or cracking.</li>
            </ul>
             <h3>Claims Process</h3>

                 <ul>
                <li>Submit written notice of the claim, copy of original contract, picture of alleged defect, and statement within 30 days.</li>
                <li>Our team will assess eligibility and arrange repairs/replacements at no extra cost if covered.</li>
                <li>Terms and conditions apply. Refer to full warranty document for details.</li>
            </ul>
     
         <div class="cs-button-group">
       <a href="/contact" class="cs-button-solid">Claim Warranty</a>
       <a href="/assets/images/Workmanship Warranty.pdf" class="cs-button-solid" download="Workmanship Warranty">Technical Document</a>
       </div>
       
        
           

        
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/Pic3.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/Pic3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Pic3.jpg" alt="Gutter System" width="570" height="680" aria-hidden="true">
            </picture>
        </div>
    </div>
    <!--Waves Graphic-->
    <picture class="cs-background">
        <img src="https://d33wubrfki0l68.cloudfront.net/a585693f05dd2347d32aec7438140fcc3f6dc3fc/723a2/assets/images/large-waves.svg" alt="waves" decoding="async" aria-hidden="true" width="625" height="952">
    </picture>
</section>

{% include 'components/cta2.html' %}




{% endblock %}