/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */
/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-1106 {
    background-color: #f5f4f2;
    padding: var(--sectionPadding);
    padding-top: 15.625rem;
    padding-bottom: 7.5rem;
    /* clips the line from causing overflow issues for going off screen */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #banner-1106 .cs-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.75rem;
  }
  #banner-1106 .cs-int-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #banner-1106 .cs-breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1106 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    text-decoration: none;
    color: var(--bodyTextColorWhite);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1106 .cs-link:last-of-type {
    /* remove the chevron on the last list item */
  }
  #banner-1106 .cs-link:last-of-type::after {
    display: none;
  }
  #banner-1106 .cs-link:after {
    /* chevron */
    content: "";
    width: 0.4375rem;
    height: 0.75rem;
    margin: 0 1rem;
    background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/white-chev.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
  }
  #banner-1106 .cs-link.cs-active {
    color: var(--secondary);
  }
  #banner-1106 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #banner-1106 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(26, 26, 26, 0.94) 0%, rgba(26, 26, 26, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(26, 26, 26, 0.94) 0%, rgba(26, 26, 26, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #banner-1106 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-418 {
    background-color: #f5f4f2;
    padding: var(--sectionPadding);
  }
  #sbs-418 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 48px - 76px */
    gap: clamp(3rem, 9vw, 4.75rem);
  }
  #sbs-418 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-418 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-418 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-418 .cs-button-group {
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
  #sbs-418 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-418 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbs-418 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-418 .cs-button-transparent {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: var(--primary);
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: transparent;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;
  }
  #sbs-418 .cs-button-transparent:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbs-418 .cs-button-transparent:hover {
    color: #fff;
    border-color: #000;
    background-color: #000;
  }
  #sbs-418 .cs-button-transparent:hover:before {
    width: 100%;
  }
  #sbs-418 .cs-image-group {
    width: 100%;
    /* changes to 650px at desktop */
    max-width: 34.375rem;
    height: auto;
    /* removed at desktop */
    padding-top: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    order: -1;
  }
  #sbs-418 .cs-info {
    /* 12px - 20px */
    padding: clamp(0.75rem, 1.5vw, 1.25rem);
    /*260px - 360px */
    min-width: clamp(16.25rem, 30vw, 22.5rem);
    background-color: #fff;
    border: 1px solid #b4b2c7;
    border-radius: 0.75rem;
    box-shadow: 0 12px 28px -8px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    /* next two properties centers it horizontally */
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.25rem;
  }
  #sbs-418 .cs-icon {
    /* 32px - 48px */
    width: clamp(2rem, 4vw, 3rem);
    height: auto;
    margin-right: 0.75rem;
  }
  #sbs-418 .cs-header {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #sbs-418 .cs-desc {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.2em;
    color: var(--bodyTextColor);
  }
  #sbs-418 .cs-picture {
    width: 85%;
    max-width: 34.875rem;
    margin-bottom: 2.5rem;
    border-radius: 0.75rem;
    /* removed at tablet */
    aspect-ratio: 272/269;
    /* clips img corners */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #sbs-418 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes it act like a background image */
    object-fit: cover;
  }
  #sbs-418 .cs-trapezoid {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-418 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  #sbs-418 .cs-content {
    width: 50%;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #sbs-418 .cs-image-group {
    max-width: 41.1875rem;
  }
  #sbs-418 .cs-picture {
    /* 269px - 496px changes at desktop */
    height: clamp(16.8125rem, 35vw, 31rem);
    aspect-ratio: none;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-418 .cs-container {
    align-items: center;
  }
  #sbs-418 .cs-image-group {
    max-width: 40.625rem;
    padding: 0;
  }
  #sbs-418 .cs-picture {
    /* 421px - 496px changes at desktop */
    height: clamp(26.3125rem, 40vw, 31rem);
  }
  #sbs-418 .cs-info {
    left: auto;
    right: 1.125rem;
    transform: none;
  }
  #sbs-418 .cs-trapezoid {
    height: 80%;
    bottom: 0;
  }
}
/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-1173 {
    background-color: #f5f4f2;
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #steps-1173 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #steps-1173 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #steps-1173 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #steps-1173 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.25rem;
  }
  #steps-1173 .cs-item {
    text-align: center;
    list-style: none;
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  #steps-1173 .cs-item:last-of-type:after {
    display: none;
  }
  #steps-1173 .cs-item:nth-of-type(even):after {
    /* scaleX -1 flips it horizontally */
    transform: rotate(-135deg) scaleX(-1);
  }
  #steps-1173 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #steps-1173 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    max-width: 25.8125rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-1173 .cs-container {
    max-width: 80rem;
  }
  #steps-1173 .cs-item {
    grid-column: span 4;
  }
  #steps-1173 .cs-item:nth-of-type(1):after {
    transform: rotate(135deg) scaleX(-1);
  }
  #steps-1173 .cs-item:after {
    margin: 0;
    position: absolute;
    right: -2.5rem;
    top: 0;
    transform: rotate(45deg);
  }
}

/*# sourceMappingURL=service.css.map */
