/* PAGE-SPECIFIC STYLES FOR THE CONTACT PAGE */

/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-1525 {
        background-color: #f5f4f2;
        padding: var(--sectionPadding);
        margin-top:100px;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text aling to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-form {
            width: 100%;
            max-width: calc(846 / 16 * 1rem);
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: calc(12 / 16 * 1rem);
        }

        .cs-label {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            width: 100%;
            color: var(--headerColor);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            grid-column: span 12;
            gap: calc(4 / 16 * 1rem);
        }

        .cs-input, .cs-select {
            font-size: calc(16 / 16 * 1rem);
            width: 100%;
            height: calc(56 / 16 * 1rem);
            padding: 0;
            padding: 0 calc(24 / 16 * 1rem);
            color: var(--headerColor);
        
            background-color: #fff;
            border-color:#000;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            transition: border-color 0.3s;
            &:hover {
                border-color: var(--secondary);
            }
            &:focus {
                outline: 1px solid var(--secondary);
            }
            &::placeholder {
                color: #7d799c;
                opacity: 0.6;
            }
        }

        .cs-textarea {
            /* 120px - 192px */
            min-height: clamp(7.5rem, 28vw, 12rem);
            padding-top: calc(24 / 16 * 1rem);
            /* 48px - 64px */
            margin-bottom: clamp(3rem, 6vw, 4rem);
            font-family: inherit;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 3.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0 auto;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(50 / 16 * 1rem);
            overflow: hidden;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-submit {
            text-transform: uppercase;
            min-width: calc(214 / 16 * 1rem);
            margin-top: calc(-12 / 16 * 1rem);
            border: none;
            grid-column: span 12;

            &:hover {
                cursor: pointer;
            }
        }

        .cs-floater1 {
            /* 157px - 312px */
            width: clamp(9.8125rem, 20vw, 19.5rem);
            height: auto;
            position: absolute;
            top: calc(-32 / 16 * 1rem);
            left: calc(-64 / 16 * 1rem);
            z-index: -1;
            transform: rotate(-10deg);
        }

        .cs-floater2 {
            /* 72px - 200px */
            width: clamp(4.5rem, 15vw, 12.5rem);
            height: auto;
            position: absolute;
            bottom: calc(200 / 16 * 1rem);
            right: calc(-44 / 16 * 1rem);
            z-index: -1;
            transform: rotate(-10deg);
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #contact-1525 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-label {
            grid-column: span 6;
        }

        .cs-message {
            grid-column: span 12;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #contact-1525 {
        .cs-floater1 {
            top: calc(180 / 16 * 1rem);
        }
    }
}
                                