/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-1106 {
        background-color: #f5f4f2;
        padding: var(--sectionPadding);
        padding-top: calc(250 / 16 * 1rem);
        padding-bottom: calc(120 / 16 * 1rem);
        /* clips the line from causing overflow issues for going off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            text-align: center;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-breadcrumbs {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-link {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            text-decoration: none;
            color: var(--bodyTextColorWhite);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-of-type {
                /* remove the chevron on the last list item */
                &::after {
                    display: none;
                }
            }

            &:after {
                /* chevron */
                content: "";
                width: calc(7 / 16 * 1rem);
                height: calc(12 / 16 * 1rem);
                margin: 0 calc(16 / 16 * 1rem);
                background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/white-chev.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                display: block;
            }

            &.cs-active {
                color: var(--secondary);
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: -moz-linear-gradient(
                    left,
                    rgba(26, 26, 26, 0.94) 0%,
                    rgba(26, 26, 26, 0) 100%
                ); /* FF3.6-15 */
                background: -webkit-linear-gradient(
                    left,
                    rgba(26, 26, 26, 0.94) 0%,
                    rgba(26, 26, 26, 0) 100%
                ); /* Chrome10-25,Safari5.1-6 */
                opacity: 1;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-418 {
        background-color: #f5f4f2;
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 48px - 76px */
            gap: clamp(3rem, 9vw, 4.75rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-group {
            padding-top:20px;
            margin-top:20px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-transparent {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: var(--primary);
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: transparent;
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition:
                color 0.3s,
                border-color 0.3s,
                background-color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                border-color: #000;
                background-color: #000;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            width: 100%;
            /* changes to 650px at desktop */
            max-width: calc(550 / 16 * 1rem);
            height: auto;
            /* removed at desktop */
            padding-top: calc(30 / 16 * 1rem);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
       
        }

        .cs-info {
            /* 12px - 20px */
            padding: clamp(0.75rem, 1.5vw, 1.25rem);
            /*260px - 360px */
            min-width: clamp(16.25rem, 30vw, 22.5rem);
            background-color: #fff;
            border: 1px solid #b4b2c7;
            border-radius: calc(12 / 16 * 1rem);
            box-shadow: 0 12px 28px -8px rgba(0, 0, 0, 0.4);
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            /* next two properties centers it horizontally */
            left: 50%;
            transform: translateX(-50%);
            bottom: calc(20 / 16 * 1rem);
        }

        .cs-icon {
            /* 32px - 48px */
            width: clamp(2rem, 4vw, 3rem);
            height: auto;
            margin-right: calc(12 / 16 * 1rem);
        }

        .cs-header {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.5vw, 1.25rem);
            font-weight: 700;
            line-height: 1.2em;
            margin-bottom: calc(4 / 16 * 1rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.2em;
            color: var(--bodyTextColor);
        }

        .cs-picture {
            width: 85%;
            max-width: calc(558 / 16 * 1rem);
            margin-bottom: calc(40 / 16 * 1rem);
            border-radius: calc(12 / 16 * 1rem);
            /* removed at tablet */
            aspect-ratio: 272/269;
            /* clips img corners */
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }

        .cs-trapezoid {
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-418 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }

        .cs-content {
            width: 50%;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-image-group {
            max-width: calc(659 / 16 * 1rem);
            order:-1;
        }

        .cs-picture {
            /* 269px - 496px changes at desktop */
            height: clamp(16.8125rem, 35vw, 31rem);
            aspect-ratio: none;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-418 {
        .cs-container {
            align-items: center;
        }

        .cs-image-group {
            max-width: calc(650 / 16 * 1rem);
            padding: 0;
        }

        .cs-picture {
            /* 421px - 496px changes at desktop */
            height: clamp(26.3125rem, 40vw, 31rem);
        }

        .cs-info {
            left: auto;
            right: calc(18 / 16 * 1rem);
            transform: none;
        }

        .cs-trapezoid {
            height: 80%;
            bottom: 0;
        }
    }
}





 /*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-1173 {
        background-color: #f5f4f2;
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(704 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: calc(650 / 16 * 1rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: calc(20 / 16 * 1rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            display: flex;
            grid-column: span 12;
            flex-direction: column;
            align-items: center;
            position: relative;

            &:last-of-type {
                &:after {
                    display: none;
                }
            }

            &:nth-of-type(even) {
                &:after {
                    /* scaleX -1 flips it horizontally */
                    transform: rotate(-135deg) scaleX(-1);
                }
            }

        }




        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            text-align: inherit;
            max-width: calc(413 / 16 * 1rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

  
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-1173 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-item {
            grid-column: span 4;

            &:nth-of-type(1) {
                &:after {
                    transform: rotate(135deg) scaleX(-1);
                }
            }

            &:after {
                margin: 0;
                position: absolute;
                right: calc(-40 / 16 * 1rem);
                top: 0;
                transform: rotate(45deg);
            }
        }
    }
}

                                                               

                                